/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  font-family: "Ruda", sans-serif;
}

body {
  text-align: center;
}

h1,
h3 {
  color: #494949;
}

p {
  color: #979797;
  margin: auto;
  line-height: 2;
}

/* SECTION STYLES */

.main-nav {
  margin-bottom: 30px;
}

header,
.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #FDFDFC;
}

.main-nav a {
  display: block;
  margin-bottom: 5px;
  padding: 1.5em;
  background-color: white;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: #6C6C6C;
}


ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #6C6C6C;
}

a:hover {
  color: #A9A9A9;
  transition: all 0.3s ease;
}

.intro,
#portfolio,
.search,
.travel,
.map,
.gallery,
.calculator,
#contact {
  padding: 10px 5px;
  margin-top: 30px;
}

.profile-img {
  width: 310px;
  margin-bottom: 30px;
}

#contact,
.intro {
  background-color: #FDFDFC;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 620px) {
  p {
    max-width: 75%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .hide {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
