/****** GLOBAL STYLES ******/

* {
  box-sizing: border-box;
  font-family: "Ruda", sans-serif;
}

body {
  text-align: center;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  color: #494949;
}

p {
  max-width: 75%;
  color: #979797;
  margin: auto;
  line-height: 2;
}

/****** SECTION STYLES ******/

.main-nav {
  margin-bottom: 30px;
}

header,
.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #FDFDFC;
}

.main-nav a {
  display: block;
  margin-bottom: 5px;
  padding: 1.5em;
  background-color: white;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: #6C6C6C;
}


ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #6C6C6C;
}

a:hover {
  color: white;
  background-color: coral;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.intro,
.portfolio,
.search,
.travel,
.map,
.gallery,
.calculator,
#contact {
  padding: 5px 5px;
  margin-top: 30px;
}

.portfolio:hover,
.search:hover,
.travel:hover,
.map:hover,
.gallery:hover,
.calculator:hover {
  border-radius: 5%;
  border-bottom: 3px solid black;
  border-top: 3px solid blue;
  cursor: pointer;
}

.profile-img {
  width: 310px;
  margin-bottom: 30px;
}

#skills ul li {
  display: inline-block;
  text-align: center;
  border: solid 2px green;
  padding: 5px;
  margin: 10px 10px 0px;
  background-color: #93DC80;
}

#contact,
.intro {
  background-color: #FDFDFC;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}


/****** MEDIA QUERIES ******/

/* TABLETS */

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .main-nav {
    flex-direction: row;
    justify-content: center;
  }
  .profile-img {
    float: right;
    width: 35%;
    height: auto;
    margin-left: 50px;
  }
  .intro {
    overflow: auto;
  }
  .intro p {
    text-align: left;
    padding: 0px 30px;
    width: 550px;
    margin: 0;
  }
  .portfolio,
  .search,
  .travel,
  .map,
  .gallery,
  .calculator {
    width: 50%;
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .flex img {
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    padding: 5px;
  }
  #contact p,
  #skills p {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .footer {
    margin-bottom: 50px;
  }
  .hide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .hide li {
    margin-right: 15px;
  }

}

/* DESKTOP */

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  #top,
  .main-nav {
    flex-direction: row;
    display: inline-block;
  }
  #top {
    float: left;
    padding: 5px;
    margin: 0px 45px;
  }
  .main-nav {
    float: right;
  }
  .intro {
    clear: both;
    margin: 0px 18px;
  }
  .intro p {
    width: 55%;
    text-align: left;
  }
  .main-nav a {
    display: inline-block;
  }
  #port {
    margin-top: 65px;
  }
  .profile-img {
    float: right;
    width: 35%;
    height: auto;
    margin-right: 50px;
  }
  .portfolio,
  .search,
  .travel,
  .map,
  .gallery,
  .calculator {
    width: 33.3%;
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex img {
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    padding: 15px;
  }
}
